@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #7C3AED;
}

html {
  background: #0a0a0a;
}

body {
  background: #0a0a0a;
  color: #a1a1a1;
  min-height: 100vh;
}

* {
  border-color: #222222;
}
